{% extends "base.html" %}
{% block title %}Регистрация — Yessenov University{% endblock %}
{% block content %}
<div class="content">
<h2>Регистрация</h2>
<div class="subtitle">Регистрация на сайте</div>
<form method="post" action="/register" class="register-form">
{% if error %}
<div class="form-errors">
<ul>
<li>{{ error }}</li>
</ul>
</div>
{% endif %}
<div class="form-row">
<label for="username">Email:</label>
<input type="text" id="email" name="email" placeholder="Введите email или ID" required>
</div>
<div class="form-row">
<label for="username">Логин:</label>
<input type="text" id="username" name="username" placeholder="Введите email или ID" required>
</div>
<div class="form-row">
<label for="full_name">ФИО:</label>
<input type="text" id="full_name" name="full_name" placeholder="Иван Иванов" >
</div>
<div class="form-row">
<label for="password">Пароль:</label>
<input type="password" id="password" name="password" placeholder="Пароль" required minlength="8">
</div>
<button type="submit" class="btn site-btn">Зарегистрироваться</button>
</form>
</div>
{% endblock %}
